## Module: 2 Exploratory Data Analysis
## Session: 1
## Pandas

In [1]:
import pandas as pd

In [2]:
f500 = pd.read_csv("f500.csv")

In [3]:
f500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
f500.shape

(500, 17)

In [5]:
f500.head(5)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [6]:
f500.tail(3)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [7]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

In [8]:
f500.dtypes

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [9]:
f500["company"]                        #Label indexing

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

In [10]:
f500[['company', 'ceo']]

                            company                  ceo
0                           Walmart  C. Douglas McMillon
1                        State Grid              Kou Wei
2                     Sinopec Group            Wang Yupu
3          China National Petroleum        Zhang Jianhua
4                      Toyota Motor          Akio Toyoda
..                              ...                  ...
495  Teva Pharmaceutical Industries    Yitzhak Peterburg
496        New China Life Insurance             Wan Feng
497       Wm. Morrison Supermarkets       David T. Potts
498                             TUI    Friedrich Joussen
499                      AutoNation   Michael J. Jackson

[500 rows x 2 columns]

## iloc: used for integer indexing
## loc: used for label indexing

In [11]:
f500.iloc[0,0]

'Walmart'

In [12]:
f500.iloc[4,[0,7]]

company    Toyota Motor
ceo         Akio Toyoda
Name: 4, dtype: object

In [13]:
f500.iloc[:5,[0,7]]

                    company                  ceo
0                   Walmart  C. Douglas McMillon
1                State Grid              Kou Wei
2             Sinopec Group            Wang Yupu
3  China National Petroleum        Zhang Jianhua
4              Toyota Motor          Akio Toyoda

In [14]:
f500.iloc[:5,:8]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda

In [15]:
f500.iloc[[0,1,5],[0,7]]

      company                  ceo
0     Walmart  C. Douglas McMillon
1  State Grid              Kou Wei
5  Volkswagen      Matthias Muller

In [16]:
f500.loc[:5, ['company','ceo']]

                    company                  ceo
0                   Walmart  C. Douglas McMillon
1                State Grid              Kou Wei
2             Sinopec Group            Wang Yupu
3  China National Petroleum        Zhang Jianhua
4              Toyota Motor          Akio Toyoda
5                Volkswagen      Matthias Muller

In [17]:
f500.loc[2:5, 'company':'ceo']

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller

## Boolean indexing

In [18]:
china_bool= f500['country']=='China'
china_bool

0      False
1       True
2       True
3       True
4      False
       ...
495    False
496     True
497    False
498    False
499    False
Name: country, Length: 500, dtype: bool

In [19]:
f500[f500['country']=='China']

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
21,Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438
23,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27,China,"Beijing, China",http://www.cscec.com,6,263915,15344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Xiamen C&D,488,22145,6.6,280.2,21729,15.6,Huang Wenzhou,Trading,Wholesalers,0,China,"Xiamen, China",http://www.chinacdc.com,1,18381,3985
489,China General Technology,490,22113,-20.1,413.6,20860,-20.8,Xu Xianping,"Engineering, Construction",Engineering & Construction,383,China,"Beijing, China",http://www.genertec.com.cn,4,38589,5114
493,Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,0,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,0,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507

In [20]:
china=f500[f500['country']=='China']
china

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
21,Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438
23,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27,China,"Beijing, China",http://www.cscec.com,6,263915,15344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Xiamen C&D,488,22145,6.6,280.2,21729,15.6,Huang Wenzhou,Trading,Wholesalers,0,China,"Xiamen, China",http://www.chinacdc.com,1,18381,3985
489,China General Technology,490,22113,-20.1,413.6,20860,-20.8,Xu Xianping,"Engineering, Construction",Engineering & Construction,383,China,"Beijing, China",http://www.genertec.com.cn,4,38589,5114
493,Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,0,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,0,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507

In [21]:
f500[f500['sector']=='Energy']

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,Enterprise Products Partners,469,23022,-14.8,2513.1,52194,-0.3,A. James Teague,Pipelines,Energy,392,USA,"Houston, TX",http://www.enterpriseproducts.com,7,6800,22047
475,Shanxi Jincheng Anthracite Coal Mining Group,476,22875,-17.0,3.0,32954,NaN,He Tiancai,"Mining, Crude-Oil Production",Energy,384,China,"Jincheng, China",http://www.jamg.cn,5,135691,2988
485,GS Caltex,486,22207,-11.4,1221.1,15969,42.1,Jin-Soo Huh,Petroleum Refining,Energy,431,South Korea,"Seoul, South Korea",http://www.gscaltex.com,6,2949,8150
486,Ultrapar Holdings,487,22167,-2.3,447.5,7426,-0.8,Thilo Mannhardt,Energy,Energy,474,Brazil,"Sao Paulo, Brazil",http://www.ultra.com.br,8,15173,2621
490,National Grid,491,22036,-3.2,10150.6,82310,160.2,John Pettigrew,Utilities,Energy,471,Britain,"London, Britain",http://www.nationalgrid.com,12,22132,25463

In [22]:
f500['country'].value_counts()

country
USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
Australia         7
Brazil            7
India             7
Italy             7
Taiwan            6
Russia            4
Ireland           4
Singapore         3
Sweden            3
Mexico            2
Malaysia          1
Thailand          1
Belgium           1
Norway            1
Luxembourg        1
Indonesia         1
Denmark           1
Saudi Arabia      1
Finland           1
Venezuela         1
Turkey            1
U.A.E             1
Israel            1
Name: count, dtype: int64

## Boolean indexing loc

* iloc cannot be used since boolean indexing is a label indexing

In [23]:
f500.loc[f500['country']=='China', ['company', 'ceo']]

                                   company            ceo
1                               State Grid        Kou Wei
2                            Sinopec Group      Wang Yupu
3                 China National Petroleum  Zhang Jianhua
21   Industrial & Commercial Bank of China         Gu Shu
23    China State Construction Engineering      Guan Qing
..                                     ...            ...
487                             Xiamen C&D  Huang Wenzhou
489               China General Technology    Xu Xianping
493               Xiamen ITG Holding Group      Xu Xiaoxi
494  Xinjiang Guanghui Industry Investment  Shang Jiqiang
496               New China Life Insurance       Wan Feng

[109 rows x 2 columns]

In [24]:
df=f500[f500['country']=='India']                                #Best company of country by employee strength 
sort_employees= df.sort_values('employees', ascending= False)    #to sort data employees-vise in descending order
sort_employees

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
216,State Bank of India,217,44533,6.8,36.0,530590,-98.1,Arundhati Bhattacharya,Banks: Commercial and Savings,Financials,232,India,"Mumbai, India",http://www.sbi.co.in,12,278872,33450
202,Reliance Industries,203,46931,8.0,4458.9,108856,5.6,Mukesh D. Ambani,Petroleum Refining,Energy,215,India,"Mumbai, India",http://www.ril.com,14,140483,40614
246,Tata Motors,247,40329,-4.2,1111.6,42162,-34.0,Guenter Butschek,Motor Vehicles and Parts,Motor Vehicles & Parts,226,India,"Mumbai, India",http://www.tatamotors.com,8,79558,8942
167,Indian Oil,168,53562,-2.1,2960.0,42132,72.7,Sanjiv Singh,Petroleum Refining,Energy,161,India,"New Delhi, India",http://www.iocl.com,23,34999,15724
359,Bharat Petroleum,360,30316,4.2,1300.5,16801,6.7,D. Rajkumar,Petroleum Refining,Energy,358,India,"Mumbai, India",http://www.bharatpetroleum.in,14,13395,4747
383,Hindustan Petroleum,384,28166,-2.3,1228.1,12370,63.4,Mukesh Kumar Surana,Petroleum Refining,Energy,367,India,"Mumbai, India",http://www.hindustanpetroleum.com,14,10422,3245
294,Rajesh Exports,295,36114,43.1,185.8,3717,13.8,Rajesh J. Mehta,Trading,Wholesalers,423,India,"Bengaluru, India",http://www.rajeshindia.com,2,328,868

In [25]:
df=f500[f500['country']=='India']                                #Best company of country by employee strength 
sort_employees= df.sort_values('employees', ascending= False)
sort_employees.loc[216,'company']                                #loc indexing

'State Bank of India'

In [26]:
df=f500[f500['country']=='India']                                #Best company of country by employee strength 
sort_employees= df.sort_values('employees', ascending= False)
sort_employees.iloc[0,0]                                         #iloc indexing

'State Bank of India'

### Top company of every country w.r.t. employees

In [27]:
countries = f500['country'].unique()
countries

array(['USA', 'China', 'Japan', 'Germany', 'Netherlands', 'Britain',
       'South Korea', 'Switzerland', 'France', 'Taiwan', 'Singapore',
       'Italy', 'Russia', 'Spain', 'Brazil', 'Mexico', 'Luxembourg',
       'India', 'Malaysia', 'Thailand', 'Australia', 'Belgium', 'Norway',
       'Canada', 'Ireland', 'Indonesia', 'Denmark', 'Saudi Arabia',
       'Sweden', 'Finland', 'Venezuela', 'Turkey', 'U.A.E', 'Israel'],
      dtype=object)

In [28]:

for i in countries:
    df=f500[f500['country']==i]
    sort_employees= df.sort_values('employees', ascending= False)
    print(i,sort_employees.iloc[0,0])

USA Walmart
China China National Petroleum
Japan Toyota Motor
Germany Volkswagen
Netherlands EXOR Group
Britain Compass Group
South Korea Samsung Electronics
Switzerland Nestle
France Sodexo
Taiwan Hon Hai Precision Industry
Singapore Flex
Italy Poste Italiane
Russia Gazprom
Spain Banco Santander
Brazil JBS
Mexico America Movil
Luxembourg ArcelorMittal
India State Bank of India
Malaysia Petronas
Thailand PTT
Australia Wesfarmers
Belgium Anheuser-Busch InBev
Norway Statoil
Canada George Weston
Ireland Accenture
Indonesia Pertamina
Denmark Maersk Group
Saudi Arabia SABIC
Sweden H & M Hennes & Mauritz
Finland Nokia
Venezuela Mercantil Servicios Financieros
Turkey Koc Holding
U.A.E Emirates Group
Israel Teva Pharmaceutical Industries

In [29]:
#Top company of every country w.r.t. employees

top_comp = {}                                       #Dictionary to present data

for i in countries:
    df=f500[f500['country']==i]
    sort_employees= df.sort_values('employees', ascending= False)
    top_comp[i] = sort_employees.iloc[0,0]

In [30]:
top_comp

{'USA': 'Walmart',
 'China': 'China National Petroleum',
 'Japan': 'Toyota Motor',
 'Germany': 'Volkswagen',
 'Netherlands': 'EXOR Group',
 'Britain': 'Compass Group',
 'South Korea': 'Samsung Electronics',
 'Switzerland': 'Nestle',
 'France': 'Sodexo',
 'Taiwan': 'Hon Hai Precision Industry',
 'Singapore': 'Flex',
 'Italy': 'Poste Italiane',
 'Russia': 'Gazprom',
 'Spain': 'Banco Santander',
 'Brazil': 'JBS',
 'Mexico': 'America Movil',
 'Luxembourg': 'ArcelorMittal',
 'India': 'State Bank of India',
 'Malaysia': 'Petronas',
 'Thailand': 'PTT',
 'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Norway': 'Statoil',
 'Canada': 'George Weston',
 'Ireland': 'Accenture',
 'Indonesia': 'Pertamina',
 'Denmark': 'Maersk Group',
 'Saudi Arabia': 'SABIC',
 'Sweden': 'H & M Hennes & Mauritz',
 'Finland': 'Nokia',
 'Venezuela': 'Mercantil Servicios Financieros',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}

In [31]:
#Top company of every country w.r.t. employees

top_comp = pd.Series()                                 #Series gives more presentable form of data

for i in countries:
    df=f500[f500['country']==i]
    sort_employees= df.sort_values('employees', ascending= False)
    top_comp[i] = sort_employees.iloc[0,0]

In [32]:
top_comp

USA                                     Walmart
China                  China National Petroleum
Japan                              Toyota Motor
Germany                              Volkswagen
Netherlands                          EXOR Group
Britain                           Compass Group
South Korea                 Samsung Electronics
Switzerland                              Nestle
France                                   Sodexo
Taiwan               Hon Hai Precision Industry
Singapore                                  Flex
Italy                            Poste Italiane
Russia                                  Gazprom
Spain                           Banco Santander
Brazil                                      JBS
Mexico                            America Movil
Luxembourg                        ArcelorMittal
India                       State Bank of India
Malaysia                               Petronas
Thailand                                    PTT
Australia                            Wesfarmers
Belgium                    Anheuser-Busch InBev
Norway                                  Statoil
Canada                            George Weston
Ireland                               Accenture
Indonesia                             Pertamina
Denmark                            Maersk Group
Saudi Arabia                              SABIC
Sweden                   H & M Hennes & Mauritz
Finland                                   Nokia
Venezuela       Mercantil Servicios Financieros
Turkey                              Koc Holding
U.A.E                            Emirates Group
Israel           Teva Pharmaceutical Industries
dtype: object

### Conditional ststements in Pandas

In [35]:
f500[(f500['country'] == 'USA') & (f500['sector'] == 'Technology')]            #Tech companies of USA

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
25,Amazon.com,26,135987,27.1,2371.0,83402,297.8,Jeffrey P. Bezos,Internet Services and Retailing,Technology,44,USA,"Seattle, WA",http://www.amazon.com,9,341400,19285
64,Alphabet,65,90272,20.4,19478.0,167497,19.1,Larry Page,Internet Services and Retailing,Technology,94,USA,"Mountain View, CA",http://www.abc.xyz,9,72053,139036
68,Microsoft,69,85320,-8.8,16798.0,193694,37.8,Satya Nadella,Computer Software,Technology,63,USA,"Redmond, WA",http://www.microsoft.com,20,114000,71997
80,IBM,81,79919,-3.1,11872.0,117470,-10.0,Virginia M. Rometty,Information Technology Services,Technology,82,USA,"Armonk, NY",http://www.ibm.com,23,414400,18246
123,Dell Technologies,124,64806,18.1,-1672.0,118206,NaN,Michael S. Dell,"Computers, Office Equipment",Technology,0,USA,"Round Rock, TX",http://www.delltechnologies.com,17,138000,13243
143,Intel,144,59387,7.3,10316.0,113327,-9.7,Brian M. Krzanich,Semiconductors and Other Electronic Components,Technology,158,USA,"Santa Clara, CA",http://www.intel.com,23,106000,66226
180,Hewlett Packard Enterprise,181,50123,NaN,3161.0,79679,NaN,Margaret C. Whitman,Information Technology Services,Technology,0,USA,"Palo Alto, CA",http://www.hpe.com,1,195000,31448
186,Cisco Systems,187,49247,0.2,10739.0,121652,19.6,Charles H. Robbins,Network and Other Communications Equipment,Technology,183,USA,"San Jose, CA",http://www.cisco.com,18,73700,63586
193,HP,194,48238,-53.3,2496.0,29010,-45.2,Dion J. Weisler,"Computers, Office Equipment",Technology,48,USA,"Palo Alto, CA",http://www.hp.com,23,49000,-3889
259,Honeywell International,260,39302,1.9,4809.0,54146,0.9,Darius Adamczyk,"Electronics, Electrical Equip.",Technology,256,USA,"Morris Plains, NJ",http://www.honeywell.com,23,131000,19369
279,Oracle,280,37047,-3.1,8901.0,112180,-10.4,Safra A. Catz,Computer Software,Technology,260,USA,"Redwood City, CA",http://www.oracle.com,11,136000,47289
392,Facebook,393,27638,54.2,10217.0,64961,177.0,Mark Zuckerberg,Internet Services and Retailing,Technology,0,USA,"Menlo Park, CA",http://www.facebook.com,1,17048,59194
459,Qualcomm,460,23554,-6.8,5705.0,52359,8.2,Steven M. Mollenkopf,Semiconductors and Other Electronic Components,Technology,422,USA,"San Diego, CA",http://www.qualcomm.com,4,30500,31778

In [36]:
f500[~(f500['country'] == 'USA') & (f500['sector'] == 'Technology')]              #Tech companies other than USA based

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415
109,Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109
182,Amer International Group,183,49677,3.9,1199.9,18405,5.2,Wang Wenyin,"Electronics, Electrical Equip.",Technology,190,China,"Shenzhen, China",http://www.amer.com.cn,5,17852,10005
200,LG Electronics,201,47712,-4.6,66.2,31348,-39.8,Seong-Jin Jo,"Electronics, Electrical Equip.",Technology,180,South Korea,"Seoul, South Korea",http://www.lg.com,17,75000,9926
225,Lenovo Group,226,43035,-4.2,535.1,27186,NaN,Yang Yuanqing,"Computers, Office Equipment",Technology,202,China,"Hong Kong, China",http://www.lenovo.com,8,52000,3224
236,Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910
260,JD.com,261,39155,35.7,-573.0,23077,NaN,Richard Qiangdong Liu,Internet Services and Retailing,Technology,366,China,"Beijing, China",http://www.jd.com,2,120622,4877
261,Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307
295,Pegatron,296,35891,-6.1,599.6,13776,-20.1,Syh-Jang Liao,"Computers, Office Equipment",Technology,259,Taiwan,"Taipei, Taiwan",http://www.pegatroncorp.com,5,196251,4601
304,Accenture,305,34798,5.7,4111.9,20609,34.7,Pierre Nanterme,Information Technology Services,Technology,312,Ireland,"Dublin, Ireland",http://www.accenture.com,16,384000,7555
346,Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865
361,China Electronics,362,30010,-4.8,321.9,36575,82.6,Rui Xiaowu,"Electronics, Electrical Equip.",Technology,329,China,"Beijing, China",http://www.cec.com.cn,7,144659,4831
368,Taiwan Semiconductor Manufacturing,369,29388,10.6,10283.7,58535,7.8,Mark Liu,Semiconductors and Other Electronic Components,Technology,403,Taiwan,"Hsinchu, Taiwan",http://www.tsmc.com,3,46968,42174
389,Quanta Computer,390,27715,-12.7,469.3,18229,-16.4,Barry Lam,"Computers, Office Equipment",Technology,326,Taiwan,"Taoyuan, Taiwan",http://www.quantatw.com,12,92698,4123
398,Schneider Electric,399,27307,-7.6,1935.2,44137,24.0,Jean-Pascal Tricoire,"Electronics, Electrical Equip.",Technology,354,France,"Rueil-Malmaison, France",http://www.schneider-electric.com,16,143901,21614
414,Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,0,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192
418,LM Ericsson,419,26004,-11.2,200.5,31199,-87.5,Borje Ekholm,Network and Other Communications Equipment,Technology,357,Sweden,"Stockholm, Sweden",http://www.ericsson.com,23,111464,15395
436,NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668
442,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817
449,Midea Group,450,24060,8.5,2210.4,24549,9.3,Fang Hongbo,"Electronics, Electrical Equip.",Technology,481,China,"Foshan, China",http://www.midea.com,2,126418,8796
454,Flex,455,23863,-2.3,319.6,12593,-28.0,Michael M. McNamara,Semiconductors and Other Electronic Components,Technology,441,Singapore,Singapore,http://www.flex.com,17,200000,2645
457,Compal Electronics,458,23773,-10.9,252.1,10769,-7.9,Jui-Tsung Chen,"Computers, Office Equipment",Technology,400,Taiwan,"Taipei, Taiwan",http://www.compal.com,6,64728,3283
461,Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,0,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454
473,Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,0,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128
478,LG Display,479,22840,-9.0,781.4,20606,-8.6,Sang-Beom Han,"Electronics, Electrical Equip.",Technology,429,South Korea,"Seoul, South Korea",http://www.lgdisplay.com,6,49094,10729

In [40]:
f500[(f500['country'] == 'USA') & ((f500['sector'] == 'Technology') | (f500['sector'] == 'Financials'))] 
#Tech and Financial companies of USA
# 'and'& has precedence over 'or' |

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
25,Amazon.com,26,135987,27.1,2371.0,83402,297.8,Jeffrey P. Bezos,Internet Services and Retailing,Technology,44,USA,"Seattle, WA",http://www.amazon.com,9,341400,19285
45,Fannie Mae,46,107162,-2.9,12313.0,3287968,12.4,Timothy J. Mayopoulos,Diversified Financials,Financials,40,USA,"Washington, DC",http://www.fanniemae.com,20,7000,6071
47,J.P. Morgan Chase,48,105486,4.4,24733.0,2490972,1.2,James Dimon,Banks: Commercial and Savings,Financials,55,USA,"New York, NY",http://www.jpmorganchase.com,23,243355,254190
60,Wells Fargo,61,94176,4.6,21938.0,1930115,-4.2,Timothy J. Sloan,Banks: Commercial and Savings,Financials,67,USA,"San Francisco, CA",http://www.wellsfargo.com,20,269100,199581
61,Bank of America Corp.,62,93662,0.7,17906.0,2187702,12.7,Brian T. Moynihan,Banks: Commercial and Savings,Financials,64,USA,"Charlotte, NC",http://www.bankofamerica.com,23,208024,266840
64,Alphabet,65,90272,20.4,19478.0,167497,19.1,Larry Page,Internet Services and Retailing,Technology,94,USA,"Mountain View, CA",http://www.abc.xyz,9,72053,139036
68,Microsoft,69,85320,-8.8,16798.0,193694,37.8,Satya Nadella,Computer Software,Technology,63,USA,"Redmond, WA",http://www.microsoft.com,20,114000,71997
73,Citigroup,74,82386,-6.7,14912.0,1792077,-13.5,Michael L. Corbat,Banks: Commercial and Savings,Financials,70,USA,"New York, NY",http://www.citigroup.com,23,219000,225120
80,IBM,81,79919,-3.1,11872.0,117470,-10.0,Virginia M. Rometty,Information Technology Services,Technology,82,USA,"Armonk, NY",http://www.ibm.com,23,414400,18246
84,State Farm Insurance Cos.,85,76132,0.6,350.3,256030,-94.4,Michael L. Tipsord,Insurance: Property and Casualty (Mutual),Financials,93,USA,"Bloomington, IL",http://www.statefarm.com,23,68234,87592
117,Freddie Mac,118,65665,3.4,7815.0,2023376,22.6,Donald H. Layton,Diversified Financials,Financials,124,USA,"McLean, VA",http://www.freddiemac.com,21,5982,5075
123,Dell Technologies,124,64806,18.1,-1672.0,118206,NaN,Michael S. Dell,"Computers, Office Equipment",Technology,0,USA,"Round Rock, TX",http://www.delltechnologies.com,17,138000,13243
127,MetLife,128,63476,-9.3,800.0,898764,-84.9,Steven A. Kandarian,"Insurance: Life, Health (stock)",Financials,104,USA,"New York, NY",http://www.metlife.com,23,58000,67309
143,Intel,144,59387,7.3,10316.0,113327,-9.7,Brian M. Krzanich,Semiconductors and Other Electronic Components,Technology,158,USA,"Santa Clara, CA",http://www.intel.com,23,106000,66226
147,Prudential Financial,148,58779,2.9,4368.0,783962,-22.6,John R. Strangfeld,"Insurance: Life, Health (stock)",Financials,152,USA,"Newark, NJ",http://www.prudential.com,23,49739,45863
174,AIG,175,52367,-10.2,-849.0,498264,-138.7,Brian Duperreault,Insurance: Property and Casualty (Stock),Financials,150,USA,"New York, NY",http://www.aig.com,22,56400,76300
180,Hewlett Packard Enterprise,181,50123,NaN,3161.0,79679,NaN,Margaret C. Whitman,Information Technology Services,Technology,0,USA,"Palo Alto, CA",http://www.hpe.com,1,195000,31448
186,Cisco Systems,187,49247,0.2,10739.0,121652,19.6,Charles H. Robbins,Network and Other Communications Equipment,Technology,183,USA,"San Jose, CA",http://www.cisco.com,18,73700,63586
193,HP,194,48238,-53.3,2496.0,29010,-45.2,Dion J. Weisler,"Computers, Office Equipment",Technology,48,USA,"Palo Alto, CA",http://www.hp.com,23,49000,-3889
242,New York Life Insurance,243,40787,-11.1,1088.1,287196,324.1,Theodore A. Mathas,"Insurance: Life, Health (Mutual)",Financials,198,USA,"New York, NY",http://www.newyorklife.com,23,11320,20108
253,Nationwide,254,40074,-0.4,334.3,197790,-42.4,Stephen S. Rasmussen,Insurance: Property and Casualty (Mutual),Financials,241,USA,"Columbus, OH",http://www.nationwide.com,23,34320,15537
259,Honeywell International,260,39302,1.9,4809.0,54146,0.9,Darius Adamczyk,"Electronics, Electrical Equip.",Technology,256,USA,"Morris Plains, NJ",http://www.honeywell.com,23,131000,19369
264,Liberty Mutual Insurance Group,265,38308,-2.9,1006.0,125592,95.7,David H. Long,Insurance: Property and Casualty (Stock),Financials,249,USA,"Boston, MA",http://www.libertymutual.com,23,50000,20366
266,Morgan Stanley,267,37949,0.1,5979.0,814949,-2.4,James P. Gorman,Banks: Commercial and Savings,Financials,263,USA,"New York, NY",http://www.morganstanley.com,20,55311,76050
269,Massachusetts Mutual Life Insurance,270,37788,-1.2,1273.5,271040,-10.6,Roger W. Crandall,"Insurance: Life, Health (Mutual)",Financials,258,USA,"Springfield, MA",http://www.massmutual.com,21,11737,15424
270,Goldman Sachs Group,271,37712,-3.8,7398.0,860165,21.6,Lloyd C. Blankfein,Banks: Commercial and Savings,Financials,252,USA,"New York, NY",http://www.gs.com,18,34400,86893
277,TIAA,278,37105,5.5,1492.3,523194,22.9,Roger W. Ferguson Jr.,"Insurance: Life, Health (Mutual)",Financials,291,USA,"New York, NY",http://www.tiaa.org,20,12997,35583
279,Oracle,280,37047,-3.1,8901.0,112180,-10.4,Safra A. Catz,Computer Software,Technology,260,USA,"Redwood City, CA",http://www.oracle.com,11,136000,47289
287,Allstate,288,36534,2.5,1877.0,108610,-13.5,Thomas J. Wilson,Insurance: Property and Casualty (Stock),Financials,283,USA,"Northbrook, IL",http://www.allstate.com,22,43275,20573
314,American Express,315,33823,-1.8,5408.0,158893,4.7,Kenneth I. Chenault,Diversified Financials,Financials,302,USA,"New York, NY",http://www.americanexpress.com,23,56400,20501
377,Northwestern Mutual,378,28799,2.4,818.0,250441,0.4,John E. Schlifske,"Insurance: Life, Health (Mutual)",Financials,377,USA,"Milwaukee, WI",http://www.northwesternmutual.com,23,5646,20226
392,Facebook,393,27638,54.2,10217.0,64961,177.0,Mark Zuckerberg,Internet Services and Retailing,Technology,0,USA,"Menlo Park, CA",http://www.facebook.com,1,17048,59194
393,Travelers Cos.,394,27625,3.1,3014.0,100245,-12.4,Alan D. Schnitzer,Insurance: Property and Casualty (Stock),Financials,397,USA,"New York, NY",http://www.travelers.com,14,30900,23221
394,Capital One Financial,395,27519,9.6,3751.0,357033,-7.4,Richard D. Fairbank,Banks: Commercial and Savings,Financials,430,USA,"McLean, VA",http://www.capitalone.com,7,47300,47514
400,USAA,401,27131,11.4,1779.1,147290,-21.7,Stuart Parker,Insurance: Property and Casualty (Stock),Financials,444,USA,"San Antonio, TX",http://www.usaa.com,4,29943,28840
459,Qualcomm,460,23554,-6.8,5705.0,52359,8.2,Steven M. Mollenkopf,Semiconductors and Other Electronic Components,Technology,422,USA,"San Diego, CA",http://www.qualcomm.com,4,30500,31778
463,Progressive,464,23441,12.4,1031.0,33428,-18.7,Susan Patricia Griffith,Insurance: Property and Casualty (Stock),Financials,0,USA,"Mayfield Village, OH",http://www.progressive.com,4,31721,7957
480,U.S. Bancorp,481,22744,5.8,5888.0,445964,0.2,Andrew J. Cecere,Banks: Commercial and Savings,Financials,490,USA,"Minneapolis, MN",http://www.usbank.com,12,71191,47298
482,Aflac,483,22559,8.1,2659.0,129819,5.0,Daniel P. Amos,"Insurance: Life, Health (stock)",Financials,0,USA,"Columbus, GA",http://www.aflac.com,10,10212,20482