### Session 6

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('World_Happiness_2015.csv')

In [3]:
dataset.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [5]:
region = dataset["Region"].unique()

In [6]:
region

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [7]:
dataset["Region"].value_counts()

Region
Sub-Saharan Africa                 40
Central and Eastern Europe         29
Latin America and Caribbean        22
Western Europe                     21
Middle East and Northern Africa    20
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: count, dtype: int64

In [8]:
dataset[dataset["Region"] == "Southern Asia"]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
78,Bhutan,Southern Asia,79,5.253,0.03225,0.77042,1.10395,0.57407,0.53206,0.15445,0.47998,1.63794
80,Pakistan,Southern Asia,81,5.194,0.03726,0.59543,0.41411,0.51466,0.12102,0.10464,0.33671,3.10709
108,Bangladesh,Southern Asia,109,4.694,0.03077,0.39753,0.43106,0.60164,0.40820,0.12569,0.21222,2.51767
116,India,Southern Asia,117,4.565,0.02043,0.64499,0.38174,0.51529,0.39786,0.08492,0.26475,2.27513
120,Nepal,Southern Asia,121,4.514,0.03607,0.35997,0.86449,0.56874,0.38282,0.05907,0.32296,1.95637
131,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
152,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210

In [9]:
dataset[dataset["Region"] == "Southern Asia"]["Happiness Score"].mean()

4.580857142857143

In [10]:
region_mean = pd.Series()

for i in region:
    df = dataset[dataset["Region"] == i]                #fetching region through comparison loop
    region_mean[i] = df["Happiness Score"].mean()
    
region_mean

Western Europe                     6.689619
North America                      7.273000
Australia and New Zealand          7.285000
Middle East and Northern Africa    5.406900
Latin America and Caribbean        6.144682
Southeastern Asia                  5.317444
Central and Eastern Europe         5.332931
Eastern Asia                       5.626167
Sub-Saharan Africa                 4.202800
Southern Asia                      4.580857
dtype: float64

In [11]:
region_grp = dataset.groupby("Region")

In [12]:
region_grp

In [13]:
region_grp.get_group("Southern Asia")

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
78,Bhutan,Southern Asia,79,5.253,0.03225,0.77042,1.10395,0.57407,0.53206,0.15445,0.47998,1.63794
80,Pakistan,Southern Asia,81,5.194,0.03726,0.59543,0.41411,0.51466,0.12102,0.10464,0.33671,3.10709
108,Bangladesh,Southern Asia,109,4.694,0.03077,0.39753,0.43106,0.60164,0.40820,0.12569,0.21222,2.51767
116,India,Southern Asia,117,4.565,0.02043,0.64499,0.38174,0.51529,0.39786,0.08492,0.26475,2.27513
120,Nepal,Southern Asia,121,4.514,0.03607,0.35997,0.86449,0.56874,0.38282,0.05907,0.32296,1.95637
131,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
152,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210

In [14]:
region_mean = pd.Series()

for i in region:
    df = region_grp.get_group(i)                         #fetching individual group of regions
    region_mean[i] = df["Happiness Score"].mean()
    
region_mean

Western Europe                     6.689619
North America                      7.273000
Australia and New Zealand          7.285000
Middle East and Northern Africa    5.406900
Latin America and Caribbean        6.144682
Southeastern Asia                  5.317444
Central and Eastern Europe         5.332931
Eastern Asia                       5.626167
Sub-Saharan Africa                 4.202800
Southern Asia                      4.580857
dtype: float64

In [15]:
region_grp["Happiness Score"]                     #declares series of each group of regions with their happiness scores

In [16]:
region_grp["Happiness Score"].mean()

Region
Australia and New Zealand          7.285000
Central and Eastern Europe         5.332931
Eastern Asia                       5.626167
Latin America and Caribbean        6.144682
Middle East and Northern Africa    5.406900
North America                      7.273000
Southeastern Asia                  5.317444
Southern Asia                      4.580857
Sub-Saharan Africa                 4.202800
Western Europe                     6.689619
Name: Happiness Score, dtype: float64

In [17]:
region_grp.groups                               #fetches label index of each item of the group

{'Australia and New Zealand': [8, 9], 'Central and Eastern Europe': [30, 43, 44, 51, 53, 54, 55, 58, 59, 61, 63, 68, 69, 72, 76, 79, 82, 85, 86, 88, 92, 94, 95, 103, 105, 110, 126, 129, 133], 'Eastern Asia': [37, 45, 46, 71, 83, 99], 'Latin America and Caribbean': [11, 13, 15, 22, 24, 26, 29, 31, 32, 39, 40, 41, 42, 47, 50, 52, 56, 57, 64, 97, 104, 118], 'Middle East and Northern Africa': [10, 19, 21, 27, 34, 38, 48, 62, 67, 75, 81, 91, 102, 106, 107, 109, 111, 134, 135, 155], 'North America': [4, 14], 'Southeastern Asia': [23, 33, 60, 73, 74, 89, 98, 128, 144], 'Southern Asia': [78, 80, 108, 116, 120, 131, 152], 'Sub-Saharan Africa': [70, 77, 84, 90, 93, 96, 100, 112, 113, 114, 115, 117, 119, 121, 122, 123, 124, 125, 127, 130, 132, 136, 137, 138, 139, 140, 141, 142, 143, 145, 146, 147, 148, 149, 150, 151, 153, 154, 156, 157], 'Western Europe': [0, 1, 2, 3, 5, 6, 7, 12, 16, 17, 18, 20, 25, 28, 35, 36, 49, 65, 66, 87, 101]}

In [18]:
region_grp.size()                        #returns no. of rows in the group(like freq table)

Region
Australia and New Zealand           2
Central and Eastern Europe         29
Eastern Asia                        6
Latin America and Caribbean        22
Middle East and Northern Africa    20
North America                       2
Southeastern Asia                   9
Southern Asia                       7
Sub-Saharan Africa                 40
Western Europe                     21
dtype: int64

In [19]:
hs = region_grp["Happiness Score"]
hs

#### Aggrigate function: multiple aggrigate functions simultaneously

In [20]:
hs.agg(["mean","max","min","count"])                  #returns agg func results of a Series simultaneously

                                     mean    max    min  count
Region
Australia and New Zealand        7.285000  7.286  7.284      2
Central and Eastern Europe       5.332931  6.505  4.218     29
Eastern Asia                     5.626167  6.298  4.874      6
Latin America and Caribbean      6.144682  7.226  4.518     22
Middle East and Northern Africa  5.406900  7.278  3.006     20
North America                    7.273000  7.427  7.119      2
Southeastern Asia                5.317444  6.798  3.819      9
Southern Asia                    4.580857  5.253  3.575      7
Sub-Saharan Africa               4.202800  5.477  2.839     40
Western Europe                   6.689619  7.587  4.857     21

#### Pivot table does the same job at dataset

In [21]:
dataset.pivot_table(index="Region", values="Happiness Score", aggfunc=["mean", "max", "min", "count"], margins= True)

#margins returns total mean of all columns in the pivot table

,mean,max,min,count
,Happiness Score,Happiness Score,Happiness Score,Happiness Score
Region,,,,
Australia and New Zealand,7.285000,7.286,7.284,2
Central and Eastern Europe,5.332931,6.505,4.218,29
Eastern Asia,5.626167,6.298,4.874,6
Latin America and Caribbean,6.144682,7.226,4.518,22
Middle East and Northern Africa,5.406900,7.278,3.006,20
North America,7.273000,7.427,7.119,2
Southeastern Asia,5.317444,6.798,3.819,9
Southern Asia,4.580857,5.253,3.575,7
Sub-Saharan Africa,4.202800,5.477,2.839,40
Western Europe,6.689619,7.587,4.857,21
All,5.375734,7.587,2.839,158